.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  padding: 2px;
  flex: auto;
  top: 9%;
  position: absolute;
}

.carousel-img{
  max-height: 15rem;
  max-width: 15rem;
}
@media (max-height: 576px){
  .carousel-img{
    max-height: 8rem;
    max-width: 8rem;
  }
}


.text-black{
  color: #000000;
}

a,
a:hover,
a:focus {
  color: #ffffff;
  font-style: normal;
}
