<div class="container">
        <div class="inner">
            <h3 class="masthead-brand">KIRSmartCyber</h3>
            <nav class="nav nav-masthead">
                <a class="nav-link" href="index.html">KIRSmartCyber</a>
                <a class="nav-link" href="atap.html">ATAP</a>
                <a class="nav-link" href="kompas.html">KOMPAS</a>
                <a class="nav-link" href="stifect.html">STIFECT</a>
                <a class="nav-link" href="unduhan.html">Unduhan</a>
                <a class="nav-link" href="http://www.sman1leuwiliang.sch.id"><i class="fa fa-home"></i> Beranda SMANELL</a>
            </nav>
        </div>
        <br/>
    </div>